/InventarioLAB-war/nbproject/private/
/InventarioLAB-ejb/nbproject/private/
/nbproject/private/
/InventarioLAB-ejb/build/
/InventarioLAB-ejb/dist/
/InventarioLAB-war/build/
/build/
/InventarioLAB-war/dist/
/dist/